@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Travail1.Models.Client

@{
    Layout = "_Layout";
}

<div class="container">
    <h2>Paiement</h2>

    @if (Model.Panier.ArticlesDansPanier.Any())
    {
        <div class="row">
            <div class="col">
                <h3>Articles dans le panier</h3>
                <ul>
                    @foreach (var article in Model.Panier.ArticlesDansPanier)
                    {
                        <li>@article.Name - $@article.Price</li>
                    }
                </ul>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <h3>Total à payer: $@Model.Panier.ArticlesDansPanier.Sum(a => a.Price)</h3>
                <form asp-action="EffectuerPaiement" method="post">
                    <!-- Ajoutez les champs de paiement au besoin -->
                    <button type="submit" class="btn btn-success">Effectuer le paiement</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            Votre panier est vide. Ajoutez des articles avant de procéder au paiement.
        </div>
    }
</div>

