@model Travail1.Models.User

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mt-3"> 
                <div class="card-header">
                    <h3>Inscription</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Enregistrer" method="post">
                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label asp-for="FirstName" class="form-label fw-bold">Nom :</label>
                            </div>
                            <div class="col-md-10">
                                <input asp-for="FirstName" class="form-control rounded" placeholder="Nom" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label asp-for="LastName" class="form-label fw-bold">Prénom :</label>
                            </div>
                            <div class="col-md-10">
                                <input asp-for="LastName" class="form-control rounded" placeholder="Prénom" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label asp-for="Address" class="form-label fw-bold">Adresse :</label>
                            </div>
                            <div class="col-md-10">
                                <input asp-for="Address" class="form-control rounded" placeholder="Adresse" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label asp-for="Email" class="form-label fw-bold">Email :</label>
                            </div>
                            <div class="col-md-10">
                                <input asp-for="Email" class="form-control rounded" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label asp-for="DateOfBirth" class="form-label fw-bold">Date de naissance :</label>
                            </div>
                            <div class="col-md-10">
                                <input asp-for="DateOfBirth" class="form-control rounded" type="date" />
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label asp-for="City" class="form-label fw-bold">Ville :</label>
                            </div>
                            <div class="col-md-10">
                                <input asp-for="City" class="form-control rounded" placeholder="Ville" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label asp-for="PasswordHash" class="form-label fw-bold">Mot de passe :</label>
                            </div>
                            <div class="col-md-10">
                                <input asp-for="PasswordHash" class="form-control rounded" type="password" placeholder="Mot de passe ..." />
                                <span asp-validation-for="PasswordHash" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label asp-for="ConfirmPassword" class="form-label fw-bold">Confirmation mot de passe :</label>
                            </div>
                            <div class="col-md-10">
                                <input asp-for="ConfirmPassword" class="form-control rounded" type="password" placeholder="Confirmer mot de passe ..." />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label asp-for="IsSeller" class="form-label fw-bold">Type de profil :</label>
                            </div>
                            <div class="col-md-10">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" asp-for="IsSeller" id="client" value="false" checked>
                                    <label class="form-check-label" for="client">Client</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" asp-for="IsSeller" id="vendeur" value="true">
                                    <label class="form-check-label" for="vendeur">Vendeur</label>
                                </div>
                                <span asp-validation-for="IsSeller" class="text-danger"></span>
                            </div>
                        </div>

                     
                        <div class="row">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-dark btn-block">Inscription</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
